<div ng-controller="mStuInfo">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">学生就业信息查询</h1>
    </div>
    <div class="wrapper-md" ng-controller="stuEmployInfoCtrl">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="bs-example form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">系部</label>
                                <div class="col-lg-4">
                                    <select type="text" class="form-control"
                                            ng-model="form.pasternId"
                                            ng-options="pastern.id as pastern.name for pastern in pasterns"
                                            ng-change="changePast()">
                                        <option value="">---请选择---</option>
                                    </select>
                                </div>

                                <label class="col-lg-1 control-label">专业</label>
                                <div class="col-lg-4">
                                    <select type="text" class="form-control"
                                            ng-model="form.professionalId"
                                            ng-options="prof.id as prof.name for prof in profs | basePast : form.pasternId"
                                            ng-change="changeProf()">
                                        <option value="">---请选择---</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">年级</label>
                                <div class="col-lg-4">
                                    <select type="text" class="form-control"
                                            ng-model="form.grade"
                                            ng-options="grade.value as grade.name for grade in app.grades">
                                        <option value="">---请选择---</option>
                                    </select>
                                </div>
                                <label class="col-lg-1 control-label">班级</label>
                                <div class="col-lg-4">
                                    <select type="text" class="form-control"
                                            ng-model="form.clazz"
                                            ng-options="clazz.id as clazz.name for clazz in clazzs | basePast : form.pasternId | baseProf : form.professionalId | baseGrade : form.grade">
                                        <option value="">---请选择---</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">生源地</label>
                                <div class="col-lg-4">
                                    <select class="form-control" ng-model="form.origin"
                                            ng-options="province.id as province.name for province in provinces">
                                        <option value="">---请选择---</option>
                                    </select>
                                </div>
                                <label class="col-lg-1 control-label">毕业方向</label>
                                <div class="col-lg-4">
                                    <select class="form-control" ng-model="form.direction"
                                            ng-options="direction.value as direction.name for direction in app.direction">
                                        <option value="">----请选择----</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div align="center">
                        <button class="btn m-b-xs w-sm btn-lg btn-info" ng-click="search()">查询</button>
                    </div>
                    <br/>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                学生就业信息
            </div>
            <div class="table-responsive">
                <table id="datatable" class="table table-striped m-b-none">
                    <thead>
                    <tr>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>班级</th>
                        <th>专业</th>
                        <th>系部</th>
                        <th>生源地</th>
                        <th>毕业方向（就业、考研、其他、未就业）</th><!-- 1.未就业 2.就业 3.考研 4.其他-->
                        <th>就业省份</th>
                        <th>就业单位</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stu in stus">
                        <th>{{stu.stuId}}</th>
                        <th>{{stu.name}}</th>
                        <th>{{stu.sex}}</th>
                        <th>{{stu.clazz}}</th>
                        <th>
                            <div ng-repeat="prof in profs">
                                <span ng-if="stu.professionalId == prof.id">{{prof.name}}</span>
                            </div>
                        </th>
                        <th>
                            <div ng-repeat="pastern in pasterns">
                                <span ng-if="stu.pasternId == pastern.id">{{pastern.name}}</span>
                            </div>
                        </th>
                        <th>
                            <div ng-repeat="province in provinces">
                                <span ng-if="stu.origin == province.id">{{province.name}}</span>
                            </div>
                        </th>
                        <th>
                            <div ng-repeat="direction in app.direction">
                                <span ng-if="stu.direction == direction.value">{{direction.name}}</span>
                            </div>
                        </th>
                        <th>
                            <div ng-repeat="province in provinces">
                                <span ng-if="stu.employProv == province.id">{{province.name}}</span>
                            </div>
                        </th>
                        <th>{{stu.employCompany}}</th>
                        <th>
                            <a href="">
                                <a href="#app/mStuInfo/addStuInfo/list?id={{stu.id}}"><button class="btn btn-xs btn-info">修改</button></a>
                            </a>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>